<table id="ctl00_Categories_dlSections" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;">
  <tbody>
    <tr>
      <td>
        <div class="bottom-shadow" style="background-color: #eee; padding: 10px; border-radius: 0px; border: 1px solid #BBB;">    
            <!-- SECTION TILE -->
            <div class="section-title">
                Fabrics
            </div>
            <!-- MAIN CATEGORY -->
            <div class="category-title">Cushion/Furniture/Drapery Fabrics</div>        
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-solids-furniture">Sunbrella® Solids</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl01_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-specialtyweaves-furniture">Sunbrella® Specialty Weaves</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl02_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-stripes-furniture">Sunbrella® Stripes</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl03_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-jacquards-furniture">Sunbrella® Jacquards</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl04_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-european-collection-furniture">Sunbrella® European Collection</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl05_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-euro-furniture">Sunbrella® Euro In &amp; Out</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl06_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-sling-furniture">Sunbrella® Sling</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl07_lnkProductCatalogue" class="subcategory-title" href="/bella-dura-textures-furniture">Bella-Dura Textures</a>
            </div>          
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl08_lnkProductCatalogue" class="subcategory-title" href="/bella-dura-stripes-furniture">Bella-Dura Stripes</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl09_lnkProductCatalogue" class="subcategory-title" href="/bella-dura-jacquards-furniture">Bella-Dura Jacquards</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl10_lnkProductCatalogue" class="subcategory-title" href="/prints-outdoor-furniture">Prints - Indoor/Outdoor</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl11_lnkProductCatalogue" class="subcategory-title" href="/mesh-furniture">Mesh Fabrics</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl12_lnkProductCatalogue" class="subcategory-title" href="/jacquards-outdoor-furniture">Jacquards - Indoor/Outdoor</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl13_lnkProductCatalogue" class="subcategory-title" href="/new-arrivals-furniture">New Arrivals</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl14_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-closeouts-furniture">Specials / Closeouts</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl15_lnkProductCatalogue" class="subcategory-title" href="/outdoor-velvets">Outdoor Velvets</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl16_lnkProductCatalogue" class="subcategory-title" href="/outdoor-matelasse">Outdoor Matelasse</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl17_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=187&amp;Shift Collection">Shift Collection</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl18_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=188&amp;Furniture Cover Fabric">Furniture Cover Fabric</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl19_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=189&amp;Makers Collection">Makers Collection</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl20_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=230&amp;Sunbrella® New">Sunbrella® New</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl21_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=209&amp;Sunbrella® Decorative Collection">Sunbrella® Decorative Collection</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl22_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=210&amp;Sunbrella Dimension Collection">Sunbrella Dimension Collection</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl23_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=208&amp;Pure Collection">Pure Collection</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl24_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=211&amp;Sunbrella® Rain">Sunbrella® Rain</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl25_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=212&amp;Sunbrella® Terry Cloth">Sunbrella® Terry Cloth</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl26_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=213&amp;Sunbrella Fusion Collection ">Sunbrella Fusion Collection </a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl27_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=214&amp;Sunbrella Horizon">Sunbrella Horizon</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl28_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=218&amp;Sunbrella European Odyssey">Sunbrella European Odyssey</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl29_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=219&amp;Sunbrella European Bahia">Sunbrella European Bahia</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl30_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=220&amp;Sunbrella Balance Collection">Sunbrella Balance Collection</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl31_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=221&amp;Sunbrella® Emerge">Sunbrella® Emerge</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl32_lnkProductCatalogue" class="subcategory-title" href="/tulip-collection-exclusive">The Tulip Collection Exclusive</a>\
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl00_rptSubCategories1_ctl33_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=228&amp;Perennials Fabrics - Email quotes only.">Perennials Fabrics - Email quotes only.</a>
            </div>
            <div class="category-title">Sunbrella® European Trends</div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl01_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="/pure-nature-sunbrella-european-trends">Pure Nature</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl01_rptSubCategories1_ctl01_lnkProductCatalogue" class="subcategory-title" href="/black-modernity-sunbrella-european-trends">Black Modernity</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl01_rptSubCategories1_ctl02_lnkProductCatalogue" class="subcategory-title" href="/new-dandy-sunbrella-european-trends">New Dandy</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl01_rptSubCategories1_ctl03_lnkProductCatalogue" class="subcategory-title" href="/scandinavian-industrial-sunbrella-european-trends">Scandinavian Industrial</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl01_rptSubCategories1_ctl04_lnkProductCatalogue" class="subcategory-title" href="/tropic-spirit-sunbrella-european-trends">Tropic Spirit</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl01_rptSubCategories1_ctl05_lnkProductCatalogue" class="subcategory-title" href="/white-elegance-sunbrella-european-trends">White Elegance</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl01_rptSubCategories1_ctl06_lnkProductCatalogue" class="subcategory-title" href="/misty-rose-sunbrella-european-trends">Misty Rose</a>
            </div>        
            <div class="category-title">Waterproof Fabrics</div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl02_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="/waterproof-solids-furniture">Solids</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl02_rptSubCategories1_ctl01_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=224&amp;Textures">Textures</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl02_rptSubCategories1_ctl02_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=225&amp;Jacquards">Jacquards</a>
            </div>
            <div class="category-title">Outdoor Sheers</div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl03_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="/outdoor-sheer-drapery">Outdoor Sheers</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl03_rptSubCategories1_ctl01_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-sheer-drapery">Sunbrella® Sheers</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl03_rptSubCategories1_ctl02_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-shadow-drapery">Sunbrella® Shadow</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl03_rptSubCategories1_ctl03_lnkProductCatalogue" class="subcategory-title" href="/outdoor-sheer-118&quot;wide-drapery">118" Wide Outdoor Sheers</a>
            </div>
            <div class="category-title">Awning Fabrics</div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl04_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-solids-awning">Sunbrella® Solids</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl04_rptSubCategories1_ctl01_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-stripes-awning">Sunbrella® Stripes</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl04_rptSubCategories1_ctl02_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-solids-60&quot;wide-awning">Sunbrella® 60" Fabrics</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl04_rptSubCategories1_ctl03_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-solids-80&quot;wide-awning">Sunbrella® 80" Fabrics</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl04_rptSubCategories1_ctl04_lnkProductCatalogue" class="subcategory-title" href="/dickson-solids-awning">Dickson® Solids</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl04_rptSubCategories1_ctl05_lnkProductCatalogue" class="subcategory-title" href="/stripes-awning">Acrylic Stripes</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl04_rptSubCategories1_ctl06_lnkProductCatalogue" class="subcategory-title" href="/stripes-60&quot;wide-awning">60" Wide Stripes</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl04_rptSubCategories1_ctl07_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-supreme-awning">Sunbrella® Supreme</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl04_rptSubCategories1_ctl08_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-plus-awning">Sunbrella® Plus</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl04_rptSubCategories1_ctl09_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-clarity-awning">Sunbrella® Clarity</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl04_rptSubCategories1_ctl10_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-unity-awning">Sunbrella® Unity</a>
            </div>
            <div class="category-title">Marine Fabrics</div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl05_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-solids-marine">Sunbrella® Solids</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl05_rptSubCategories1_ctl01_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-stripes-marine">Sunbrella® Stripes</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl05_rptSubCategories1_ctl02_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-solids-60&quot;wide-marine">Sunbrella® 60" Fabrics</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl05_rptSubCategories1_ctl03_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-solids-80&quot;wide-marine">Sunbrella® 80" Fabrics</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl05_rptSubCategories1_ctl04_lnkProductCatalogue" class="subcategory-title" href="/dickson-solids-marine">Dickson® Solids</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl05_rptSubCategories1_ctl05_lnkProductCatalogue" class="subcategory-title" href="/stripes-marine">Acrylic Stripes</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl05_rptSubCategories1_ctl06_lnkProductCatalogue" class="subcategory-title" href="/stripes-60&quot;wide-marine">60" Wide Stripes</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl05_rptSubCategories1_ctl07_lnkProductCatalogue" class="subcategory-title" href="/euro-solids-marine">Euro Solids</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl05_rptSubCategories1_ctl08_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-plus-marine">Sunbrella® Plus</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl05_rptSubCategories1_ctl09_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-unity-marine">Sunbrella® Unity</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl05_rptSubCategories1_ctl10_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-clarity-marine">Sunbrella® Clarity</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl05_rptSubCategories1_ctl11_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-supreme-marine">Sunbrella® Supreme</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl05_rptSubCategories1_ctl12_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=215&amp;Seamark">Seamark</a>
            </div>
            <div class="category-title">Firesist™</div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl06_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="/sunbrella-firesist">Firesist™</a>
            </div>
            <div class="category-title">UltraLeather</div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl07_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=195&amp;Patio">Patio</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl00_Repeater1_ctl07_rptSubCategories1_ctl01_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=196&amp;Marine">Marine</a>
            </div>    
        </div>
      </td>
	</tr>
    <tr>
    	<td>
            <img id="ctl00_Categories_dlSections_ctl01_imgSpacer" src="Images/spacer.gif" align="absmiddle" style="height:7px;width:1px;border-width:0px;"><br>
        </td>
	</tr>
    <tr>
		<td>
          <div class="bottom-shadow" style="background-color: #eee; padding: 10px; border-radius: 0px; border: 1px solid #BBB;">  
            <!-- SECTION TILE -->
            <div class="section-title">
                Custom Production
            </div>
            <!-- MAIN CATEGORY -->
            <div class="category-title">Indoor/Outdoor Curtains</div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl00_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=49&amp;Curtain Styles">Curtain Styles</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl00_rptSubCategories1_ctl01_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=48&amp;Custom Curtain Estimate">Custom Curtain Estimate</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl00_rptSubCategories1_ctl02_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=50&amp;Decorating Studio">Decorating Studio</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl00_rptSubCategories1_ctl03_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=60&amp;Outdoor Drapery Hardware">Outdoor Drapery Hardware</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl00_rptSubCategories1_ctl04_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=64&amp;Outdoor Drapery Accessories">Outdoor Drapery Accessories</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl00_rptSubCategories1_ctl05_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=136&amp;Outdoor Curtain Track">Outdoor Curtain Track</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl00_rptSubCategories1_ctl06_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=65&amp;Photo Gallery">Photo Gallery</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl00_rptSubCategories1_ctl07_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=74&amp;ON SALE - SHOWER CURTAINS IN STOCK ">ON SALE - SHOWER CURTAINS IN STOCK </a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl00_rptSubCategories1_ctl08_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=129&amp;Ready Made Panels">Ready Made Panels</a>
            </div>
            <div class="category-title">Custom Cushions</div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl01_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=44&amp;Cushion Estimate">Cushion Estimate</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl01_rptSubCategories1_ctl01_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=45&amp;Cushion Styles">Cushion Styles</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl01_rptSubCategories1_ctl02_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=46&amp;Photo Gallery">Photo Gallery</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl01_rptSubCategories1_ctl03_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=121&amp;Smith &amp; Hawken®">Smith &amp; Hawken®</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl01_rptSubCategories1_ctl04_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=47&amp;Decorating Studio">Decorating Studio</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl01_rptSubCategories1_ctl05_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=69&amp;Measuring Guide">Measuring Guide</a>
            </div>
            <div class="category-title">Custom Covers</div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl02_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=51&amp;Decorating Studio">Decorating Studio</a>
            </div>
            <div class="category-title">Indoor Outdoor Pillows</div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl03_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=54&amp;Indoor Outdoor Pillows">Indoor Outdoor Pillows</a>
            </div>
            <div class="category-title">Umbrellas</div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl04_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=38&amp;Ultra Wood">Ultra Wood</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl04_rptSubCategories1_ctl01_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=53&amp;Durashade Aluminum">Durashade Aluminum</a>
            </div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl02_Repeater1_ctl04_rptSubCategories1_ctl02_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=169&amp;Umbrellas for Purchase">Umbrellas for Purchase</a>
            </div>    
        </div>
      </td>
	</tr>
    <tr>
		<td>
            <img id="ctl00_Categories_dlSections_ctl03_imgSpacer" src="Images/spacer.gif" align="absmiddle" style="height:7px;width:1px;border-width:0px;"><br>
        </td>
	</tr>
    <tr>
		<td>
          <div class="bottom-shadow" style="background-color: #eee; padding: 10px; border-radius: 0px; border: 1px solid #BBB;">  
            <!-- SECTION TILE -->
            <div class="section-title">
                Outdoor Furniture
            </div>
            <!-- MAIN CATEGORY -->
            <div class="category-title">Pillows</div>
            <div class="subcategory-title">
              <a id="ctl00_Categories_dlSections_ctl04_Repeater1_ctl00_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=229&amp;Pillows">Pillows</a>
            </div>    
          </div>
        </td>
    </tr>
    <tr>
      <td>
        <img id="ctl00_Categories_dlSections_ctl05_imgSpacer" src="Images/spacer.gif" align="absmiddle" style="height:7px;width:1px;border-width:0px;"><br>
      </td>
	</tr>
    <tr>
      <td>
        <div class="bottom-shadow" style="background-color: #eee; padding: 10px; border-radius: 0px; border: 1px solid #BBB;">
          <!-- SECTION TILE -->
          <div class="section-title">
            Accessories
          </div>
          <!-- MAIN CATEGORY -->
          <div class="category-title">Trim</div>
          <div class="subcategory-title">
            <a id="ctl00_Categories_dlSections_ctl06_Repeater1_ctl00_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=40&amp;Solid Cords">Solid Cords</a>
          </div>
          <div class="subcategory-title">
            <a id="ctl00_Categories_dlSections_ctl06_Repeater1_ctl00_rptSubCategories1_ctl01_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=41&amp;Solid Fringes">Solid Fringes</a>
          </div>
          <div class="subcategory-title">
            <a id="ctl00_Categories_dlSections_ctl06_Repeater1_ctl00_rptSubCategories1_ctl02_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=55&amp;Blended Cords">Blended Cords</a>
          </div>
          <div class="subcategory-title">
            <a id="ctl00_Categories_dlSections_ctl06_Repeater1_ctl00_rptSubCategories1_ctl03_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=56&amp;Blended Fringes">Blended Fringes</a>
          </div>
          <div class="category-title">Novelties and Other Products</div>
          <div class="subcategory-title">
            <a id="ctl00_Categories_dlSections_ctl06_Repeater1_ctl01_rptSubCategories1_ctl00_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=163&amp;Beach Bags">Beach Bags</a>
          </div>
          <div class="subcategory-title">
            <a id="ctl00_Categories_dlSections_ctl06_Repeater1_ctl01_rptSubCategories1_ctl01_lnkProductCatalogue" class="subcategory-title" href="ProductCatalogue.aspx?cid=223&amp;Cushion Liner ">Cushion Liner </a>
          </div>      
        </div>
      </td>
    </tr>
  </tbody>
</table>